/* checkboxes */
.checkbox-container {
	display: flex;
	align-items: center;
	gap: 10px;
	cursor: pointer;
	width: fit-content;

	&:focus {
		outline: none;

		.custom-checkbox {
			@extend .focus-shadow;
		}
	}

	.custom-checkbox {
		width: 20px;
		height: 20px;
		border: 2px solid var(--border);
		border-radius: 4px;
		margin-left: 5px;
		background-color: var(--white);
		display: flex;
		justify-content: center;
		align-items: center;
		transition: border-color 0.2s, background-color 0.2s;

		.custom-checkmark {
			width: 100%;
			height: 100%;
		}
	}

	.checkbox-label {
		user-select: none;
		font-weight: 500;
		pointer-events: none;
		font-size: 16px;
		font-weight: 400;
		line-height: 1.2;
	}
}
