/* controls */
.controls-panel {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: var(--gap);
	border-radius: var(--radius);
	margin-bottom: 10px;

	.label-style {
		display: block;
		margin-bottom: 7px;
		font-weight: 600;
		font-size: 16px;
		color: var(--text);
	}

	.input-style {
		width: 100%;
		padding: 10px;
		border: 1px solid var(--border);
		border-radius: 6px;
		transition: border-color 0.2s;
		font-size: 16px;
		line-height: 1.3;
		font-family: var(--font-sans);
		color: var(--text);
		@extend .add-shadow;

		&:focus {
			border-color: var(--border-strong);
			@extend .focus-shadow;
		}
	}

	.chracter-input-container {
		grid-column: span 2;
	}

	#character-input {
		resize: none;
		field-sizing: content;
		font-size: 18px;

		&::placeholder {
			color: var(--disabled);
			opacity: 1;
		}

		&:-ms-input-placeholder {
			color: var(--disabled);
		}

		&::-ms-input-placeholder {
			color: var(--disabled);
		}
	}

	.inline-pinyin-preview {
		grid-column: span 2;
		font-size: 28px;
		padding: 20px 20px 6px;
		line-height: 1.8;
		border: 1px solid var(--border);
		@extend .add-shadow;
		border-radius: var(--radius);
		user-select: none;
		background-color: var(--light-3);

		ruby {
			cursor: pointer;
			transition: color 0.1s, background-color 0.1s;

			&:hover {
				color: var(--white);
				background-color: var(--primary);

				rt {
					background-color: var(--primary);
				}
			}

			// &:active {
			// 	color: var(--white);
			// 	background-color: var(--primary-dark);

			// 	rt {
			// 		background-color: var(--primary-dark);
			// 	}
			// }

			rb {
			}

			rt {
				padding: 0 3px;
				line-height: 1;
				display: ruby-text;
				font-size: 50%;
				text-align: start;
				font-family: var(--font-sans);
				transition: background-color 0.1s;
			}
		}
	}

	.control-buttons-container {
		grid-column: span 2;
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 15px;
	}

	.generate-button-container {
		grid-column: span 2;
	}

	.char-counter {
		&.limit-reached {
			color: var(--error); /* Red if limit is reached */
			font-weight: 700;
		}
	}

	.char-counter,
	.page-count-indicator {
		text-align: right;
		font-size: 12px;
		color: var(--text-muted);
	}

	.counters-container {
		margin-top: 5px;
		display: flex;
		justify-content: space-between;
		gap: 12px;
		padding: 0 5px;
	}

	.checkbox-wrapper {
		display: flex;
		align-items: center;
	}
}
