@use 'mixins' as *;

/* controls */
.controls-panel {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: var(--gap);
	border-radius: var(--radius);
	margin-bottom: 10px;

	.label-style {
		display: block;
		margin-bottom: 7px;
		font-weight: 600;
		font-size: 16px;
		color: var(--text);
	}

	.input-style {
		width: 100%;
		padding: 10px;
		border: 1px solid var(--border);
		border-radius: 6px;
		transition: border-color 0.2s;
		font-size: 16px;
		line-height: 1.3;
		font-family: var(--font-sans);
		color: var(--text);
		@include add-shadow();

		&:focus {
			border-color: var(--border-strong);
			@include focus-shadow();
		}
	}

	.chracter-input-container {
		grid-column: span 2;
	}

	#character-input {
		resize: none;
		overflow: hidden;
		font-size: 18px;

		&::placeholder {
			color: var(--disabled);
			opacity: 1;
		}

		&:-ms-input-placeholder {
			color: var(--disabled);
		}

		&::-ms-input-placeholder {
			color: var(--disabled);
		}
	}

	.inline-pinyin-preview {
		grid-column: span 2;
		font-size: 28px;
		padding: 20px;
		line-height: 1;
		border: 1px solid var(--border);
		@include add-shadow();
		border-radius: var(--radius);
		user-select: none;
		background-color: var(--light-3);
		display: flex;
		flex-wrap: wrap;
		align-items: flex-end;
		gap: 8px 0;

		span {
			padding-bottom: 2px;
			min-width: 14px;
			display: inline-flex;
			align-items: flex-end;
			justify-content: center;
		}

		ruby {
			/* Use inline-flex so hover background can form a clean rectangle */
			display: inline-flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 2px;
			padding: 2px;
			border-radius: 3px;
			cursor: pointer;
			transition: background-color 0.1s, color 0.1s, transform 0.05s;

			&:hover {
				background-color: var(--primary);
				color: var(--white);

				rt {
					background-color: var(--transparent);
				}
			}

			rb {
				display: block;
				order: 1;
			}

			rt {
				order: 0;
				padding: 0 3px;
				line-height: 1;
				display: block;
				font-size: 50%;
				text-align: start;
				font-family: var(--font-sans);
				transition: background-color 0.1s;
			}
		}
	}

	.control-buttons-container {
		grid-column: span 2;
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 15px;
	}

	.generate-button-container {
		grid-column: span 2;
	}

	.char-counter {
		&.limit-reached {
			color: var(--error); /* Red if limit is reached */
			font-weight: 700;
		}
	}

	.char-counter,
	.page-count-indicator {
		text-align: right;
		font-size: 12px;
		color: var(--text-muted);
	}

	.counters-container {
		margin-top: 5px;
		display: flex;
		justify-content: space-between;
		gap: 12px;
		padding: 0 5px;
	}

	.checkbox-wrapper {
		display: flex;
		align-items: center;
	}
}
