.notification-pop-up {
	position: fixed;
	width: 180px;
	top: 20px;
	left: 50%;
	transform: translate(-50%, -100%); /* Start off-screen */
	padding: 10px 15px;
	border-radius: var(--radius);
	border: 2px solid var(--border);
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
	z-index: 1000;
	opacity: 0;
	transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
	pointer-events: none;
	line-height: 1.3;
	text-align: center;
	user-select: none;
	backdrop-filter: blur(3px);
	font-size: 14px;
	font-weight: 600;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--bg-translucent);

	&.show {
		transform: translate(-50%, 0); /* Slide in */
		opacity: 1;
	}

	&.notification-success {
		color: var(--primary);
		border-color: var(--primary);
	}

	&.notification-error {
		color: var(--error);
		border-color: var(--error);
	}
}
