.stroke-order-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--bg-dark-translucent);
	// backdrop-filter: blur(8px);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 9999;
	animation: fadeIn 0.3s $power3Out;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.stroke-order-popup {
	background-color: var(--bg);
	padding: 20px 30px;
	border-radius: var(--radius);
	box-shadow: 0 0 15px rgba(45, 55, 71, 0.5);
	position: relative;
	animation: slideUp 0.5s $power3Out;
}

@keyframes slideUp {
	from {
		transform: translateY(50px);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

.stroke-order-close {
	position: absolute;
	top: 8px;
	right: 8px;
	background-color: transparent;
	border: none;
	font-size: 16px;
	cursor: pointer;
	color: var(--text-muted);
	width: 32px;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: var(--radius);
	transition: background-color 0.2s, color 0.2s;

	&:hover {
		color: var(--text);
		background-color: var(--light-3);
	}
}

.stroke-order-content {
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
}

.stroke-order-title {
	font-family: var(--font-sans);
	font-weight: 300;
	font-size: 24px;
}

.stroke-order-canvas {
	margin: 0 auto;
}

.stroke-order-replay-container {
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.stroke-order-replay {
	display: flex;
	gap: 8px;
}
