@font-face {
	font-family: 'KaiTi_GB2312';
	src: url('../assets/fonts/8a1e9fe86f7a9489ec091ec4b78af185.eot');
	src: url('../assets/fonts/8a1e9fe86f7a9489ec091ec4b78af185.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/8a1e9fe86f7a9489ec091ec4b78af185.woff2') format('woff2'),
		url('../assets/fonts/8a1e9fe86f7a9489ec091ec4b78af185.woff') format('woff'),
		url('../assets/fonts/8a1e9fe86f7a9489ec091ec4b78af185.ttf') format('truetype'),
		url('../assets/fonts/8a1e9fe86f7a9489ec091ec4b78af185.svg#KaiTi_GB2312') format('svg');
	font-display: block;
	font-style: normal;
	font-weight: 400;
}

/* noto-sans-sc-100 - chinese-simplified */
@font-face {
	font-display: block;
	font-family: 'Noto Sans SC';
	font-style: normal;
	font-weight: 100;
	src: url('../assets/fonts/noto-sans-sc-v39-chinese-simplified-100.woff2') format('woff2');
}
/* noto-sans-sc-200 - chinese-simplified */
@font-face {
	font-display: block;
	font-family: 'Noto Sans SC';
	font-style: normal;
	font-weight: 200;
	src: url('../assets/fonts/noto-sans-sc-v39-chinese-simplified-200.woff2') format('woff2');
}
/* noto-sans-sc-300 - chinese-simplified */
@font-face {
	font-display: block;
	font-family: 'Noto Sans SC';
	font-style: normal;
	font-weight: 300;
	src: url('../assets/fonts/noto-sans-sc-v39-chinese-simplified-300.woff2') format('woff2');
}
/* noto-sans-sc-regular - chinese-simplified */
@font-face {
	font-display: block;
	font-family: 'Noto Sans SC';
	font-style: normal;
	font-weight: 400;
	src: url('../assets/fonts/noto-sans-sc-v39-chinese-simplified-regular.woff2') format('woff2');
}
/* noto-sans-sc-500 - chinese-simplified */
@font-face {
	font-display: block;
	font-family: 'Noto Sans SC';
	font-style: normal;
	font-weight: 500;
	src: url('../assets/fonts/noto-sans-sc-v39-chinese-simplified-500.woff2') format('woff2');
}
/* noto-sans-sc-600 - chinese-simplified */
@font-face {
	font-display: block;
	font-family: 'Noto Sans SC';
	font-style: normal;
	font-weight: 600;
	src: url('../assets/fonts/noto-sans-sc-v39-chinese-simplified-600.woff2') format('woff2');
}
/* noto-sans-sc-700 - chinese-simplified */
@font-face {
	font-display: block;
	font-family: 'Noto Sans SC';
	font-style: normal;
	font-weight: 700;
	src: url('../assets/fonts/noto-sans-sc-v39-chinese-simplified-700.woff2') format('woff2');
}
/* noto-sans-sc-800 - chinese-simplified */
@font-face {
	font-display: block;
	font-family: 'Noto Sans SC';
	font-style: normal;
	font-weight: 800;
	src: url('../assets/fonts/noto-sans-sc-v39-chinese-simplified-800.woff2') format('woff2');
}
/* noto-sans-sc-900 - chinese-simplified */
@font-face {
	font-display: block;
	font-family: 'Noto Sans SC';
	font-style: normal;
	font-weight: 900;
	src: url('../assets/fonts/noto-sans-sc-v39-chinese-simplified-900.woff2') format('woff2');
}

/* inter-tight-100 - latin_latin-ext_vietnamese */
@font-face {
	font-display: block;
	font-family: 'Inter Tight';
	font-style: normal;
	font-weight: 100;
	src: url('../assets/fonts/inter-tight-v9-latin_latin-ext_vietnamese-100.woff2') format('woff2');
}
/* inter-tight-100italic - latin_latin-ext_vietnamese */
@font-face {
	font-display: block;
	font-family: 'Inter Tight';
	font-style: italic;
	font-weight: 100;
	src: url('../assets/fonts/inter-tight-v9-latin_latin-ext_vietnamese-100italic.woff2') format('woff2');
}
/* inter-tight-200 - latin_latin-ext_vietnamese */
@font-face {
	font-display: block;
	font-family: 'Inter Tight';
	font-style: normal;
	font-weight: 200;
	src: url('../assets/fonts/inter-tight-v9-latin_latin-ext_vietnamese-200.woff2') format('woff2');
}
/* inter-tight-200italic - latin_latin-ext_vietnamese */
@font-face {
	font-display: block;
	font-family: 'Inter Tight';
	font-style: italic;
	font-weight: 200;
	src: url('../assets/fonts/inter-tight-v9-latin_latin-ext_vietnamese-200italic.woff2') format('woff2');
}
/* inter-tight-300 - latin_latin-ext_vietnamese */
@font-face {
	font-display: block;
	font-family: 'Inter Tight';
	font-style: normal;
	font-weight: 300;
	src: url('../assets/fonts/inter-tight-v9-latin_latin-ext_vietnamese-300.woff2') format('woff2');
}
/* inter-tight-300italic - latin_latin-ext_vietnamese */
@font-face {
	font-display: block;
	font-family: 'Inter Tight';
	font-style: italic;
	font-weight: 300;
	src: url('../assets/fonts/inter-tight-v9-latin_latin-ext_vietnamese-300italic.woff2') format('woff2');
}
/* inter-tight-regular - latin_latin-ext_vietnamese */
@font-face {
	font-display: block;
	font-family: 'Inter Tight';
	font-style: normal;
	font-weight: 400;
	src: url('../assets/fonts/inter-tight-v9-latin_latin-ext_vietnamese-regular.woff2') format('woff2');
}
/* inter-tight-italic - latin_latin-ext_vietnamese */
@font-face {
	font-display: block;
	font-family: 'Inter Tight';
	font-style: italic;
	font-weight: 400;
	src: url('../assets/fonts/inter-tight-v9-latin_latin-ext_vietnamese-italic.woff2') format('woff2');
}
/* inter-tight-500 - latin_latin-ext_vietnamese */
@font-face {
	font-display: block;
	font-family: 'Inter Tight';
	font-style: normal;
	font-weight: 500;
	src: url('../assets/fonts/inter-tight-v9-latin_latin-ext_vietnamese-500.woff2') format('woff2');
}
/* inter-tight-500italic - latin_latin-ext_vietnamese */
@font-face {
	font-display: block;
	font-family: 'Inter Tight';
	font-style: italic;
	font-weight: 500;
	src: url('../assets/fonts/inter-tight-v9-latin_latin-ext_vietnamese-500italic.woff2') format('woff2');
}
/* inter-tight-600 - latin_latin-ext_vietnamese */
@font-face {
	font-display: block;
	font-family: 'Inter Tight';
	font-style: normal;
	font-weight: 600;
	src: url('../assets/fonts/inter-tight-v9-latin_latin-ext_vietnamese-600.woff2') format('woff2');
}
/* inter-tight-600italic - latin_latin-ext_vietnamese */
@font-face {
	font-display: block;
	font-family: 'Inter Tight';
	font-style: italic;
	font-weight: 600;
	src: url('../assets/fonts/inter-tight-v9-latin_latin-ext_vietnamese-600italic.woff2') format('woff2');
}
/* inter-tight-700 - latin_latin-ext_vietnamese */
@font-face {
	font-display: block;
	font-family: 'Inter Tight';
	font-style: normal;
	font-weight: 700;
	src: url('../assets/fonts/inter-tight-v9-latin_latin-ext_vietnamese-700.woff2') format('woff2');
}
/* inter-tight-700italic - latin_latin-ext_vietnamese */
@font-face {
	font-display: block;
	font-family: 'Inter Tight';
	font-style: italic;
	font-weight: 700;
	src: url('../assets/fonts/inter-tight-v9-latin_latin-ext_vietnamese-700italic.woff2') format('woff2');
}
/* inter-tight-800 - latin_latin-ext_vietnamese */
@font-face {
	font-display: block;
	font-family: 'Inter Tight';
	font-style: normal;
	font-weight: 800;
	src: url('../assets/fonts/inter-tight-v9-latin_latin-ext_vietnamese-800.woff2') format('woff2');
}
/* inter-tight-800italic - latin_latin-ext_vietnamese */
@font-face {
	font-display: block;
	font-family: 'Inter Tight';
	font-style: italic;
	font-weight: 800;
	src: url('../assets/fonts/inter-tight-v9-latin_latin-ext_vietnamese-800italic.woff2') format('woff2');
}
/* inter-tight-900 - latin_latin-ext_vietnamese */
@font-face {
	font-display: block;
	font-family: 'Inter Tight';
	font-style: normal;
	font-weight: 900;
	src: url('../assets/fonts/inter-tight-v9-latin_latin-ext_vietnamese-900.woff2') format('woff2');
}
/* inter-tight-900italic - latin_latin-ext_vietnamese */
@font-face {
	font-display: block;
	font-family: 'Inter Tight';
	font-style: italic;
	font-weight: 900;
	src: url('../assets/fonts/inter-tight-v9-latin_latin-ext_vietnamese-900italic.woff2') format('woff2');
}

/* font utility */
.font-kaiti {
	font-family: var(--font-kaiti), serif;
}
